* {
  box-sizing: border-box;
}

/********** CANVAS ***********/

canvas {
  border: 1px solid black;
}

/******* VICTIM COUNTER *****/

#counter {
  margin-top: -40px;
  margin-left: 20px;
  position: absolute;
}
